.home {
  box-sizing: border-box;
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
}

.home p {
    margin: 0;
}

.home a {
    text-decoration: none;
}

.home a:hover {
    font-weight: bold;
}

#info {
    box-sizing: border-box;
    /* border-radius: 6px; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.1rem;
}

/* #info:hover {
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
} */

#info p span {
    display: inline-block;
    background-color: #212124;
    color: rgb(245, 197, 24);
    font-size: 1.3rem;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border-radius: 4px; */
}

@media(max-width: 1250px) {
    .home {
        padding: 2rem 2rem;
    }

    #info {
        padding: 1rem;
        font-size: 0.9rem;
    }

    #info p span {
        font-size: 1rem;
    }
}