.nav-bar {
  background-color: #212124;
  box-sizing: border-box;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0rem 2rem;
}

.nav-bar h3 {
  color: white;
  margin: 0;
  color: rgb(245, 197, 24);
}

.nav-bar h3 > span {
  font-size: 125%;
}

@media (max-width: 850px) {
  .nav-bar {
    flex-direction: column;
    padding: 1rem;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
