.nav-bar input,
button {
  box-sizing: border-box;
  height: 2rem;
}

.nav-bar input {
  padding: 0.25rem 0.5rem;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  width: 85%;
}

.nav-bar button {
  box-sizing: border-box;
  background-color: rgb(245, 197, 24);
  color: #212124;
  padding: 0 0.5rem;
  font-weight: bold;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  min-width: 15%;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.search-container {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 850px) {
  .search-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
